{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 100,
  "arrowParens": "always",
  "tabWidth": 2,
  "semi": true,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ],
  "better-comments.tags": [
    {
      "tag": "#",
      "color": "#000000",
      "strikethrough": true,
      "underline": true,
      "backgroundColor": "transparent",
      "bold": true,
      "italic": false
    }
  ]
}
