.reuse-emphasize-title
{
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #333333;
  line-height: 36rpx;
  font-size: 28rpx;
}

.reuse-common-text
{
  font-size: 28rpx;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #333333;
  line-height: 36rpx;
}